# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.VENV/
/venv/

# Ignore VSCode settings
.vscode/

# Ignore PyCharm settings
.idea/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore compiled C extensions
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore mypy type checker reports
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore pytest cache
.pytest_cache/

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
*.save

# Ignore build directories
build/
dist/
*.egg-info/
.eggs/
